.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #18d4a3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #22d5a5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* MAIN CODE 😀😀😀😀😀😀😀😀😀 */
#body {
  margin: 0px;
  overflow: hidden;
}
#logo {
  height: 23;
  width: 70px;
  margin-top: 5px;
}
#container {
  background-color: #f4fdfb;
  height: 504px;
}
.parent {
  display: flex;
}
.topContainer {
  flex: 1;
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;
}
.topContainer:first-child {
  text-align: left;
  margin-left: 15px;
}
#inputHolder {
  margin-right: 15px;
  margin-top: 50px;
  text-align: right;
}
#input {
  font-size: 60px;
  font-family: "Kdam Thmor Pro", sans-serif;
}
#buttonParent {
  padding-top: 40px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
.buttonHolders {
  width: 100%;
  height: 100%;
}
.cButtons {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  font-family: "Kdam Thmor Pro", sans-serif;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f4fdfb;
  border: 0px;
  font-size: 30px;
  color: #373e47;
  transition:0.5s;
}
.cButtons:hover {
  width:85px;
  height:85px;
}
.cButtons:active{
  width:100px;
  height:100px;
}
#equal {
  background-color: #18d4a3;
  color: white;
}
#invis {
  visibility: hidden;
  font-size: 0.1px;
}
